table.information{
    margin: auto;
    border: 1px solid black;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}
table.cards{
    font-size: 25px;
}
input{
    border-radius: 10px 10px 10px 10px;
    margin-right: 1px;
    width: 150px;
    height: 75px;
    font-size: 40px;
}
img{
    width: 142px;
    height: 192px;
}